ion-item {
  border: none;
  border-width: 0;
  box-shadow: none;
  --ion-background-color: #e1eaf9;
  --color: #e1eaf9;
}
ion-content {
  --ion-background-color: #e1eaf9;
}
ion-input {
  border: none;
  border-width: 0;
  box-shadow: none;
  background-color: #e1eaf9;
}
ion-header {
  // --ion-background-color: #bbc0c7;
}
